@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #aedfd1;
    --text-primary-color: #066056;
    --success-color: #1cab2f;
    --error-color: #e74c3c;
    --hover-color: #fdb391;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 40px;
    font-family: "Poppins";
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.header_top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top-logo {
    margin: 10px;
    height: 80px;
    width: 150px;
}

.header_top-logo-img {
    transition: 0.3s;
}

.header_top-logo:hover .header_top-logo-img {
    transform: scale(1.2);
}

.header_top-name {
    font-size: 16px;
}

.header_navbar {
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    border-radius: 15px;
    overflow: hidden;
}

.header_navbar-list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.header_navbar-item {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.header_navbar-item a {
    color: var(--text-primary-color);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 30px;
    transition: all 0.3s;
}

.header_navbar-item a:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

.header_navbar-item a.active {
    background-color: var(--hover-color);
    text-decoration: underline;
}

.header_navbar-input {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
}

.header_navbar-input input {
    font-family: 'Baloo Paaji 2', cursive;
    padding: 0 10px 0 25px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}

.header_navbar-input i {
    font-size: 14px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 3%;
    top: 33%;
}

.body {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.body_category {
    border-radius: 15px;
    left: 40px;
    width: 280px;
    height: 100%;
    position: sticky;
    top: 100px;
    left: 0;

}

.body_category ul{
    list-style: none;
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
}

.body_category li {
    width: 100%;
    border-bottom: 1px solid var(--text-primary-color);
    border-radius: 10px;

}

.body_category li:last-child {
    border: none;
}

.body_category li a {
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}

.body_category li a:hover {
    background-color: #f3a977;
    color:var(--text-primary-color);
}

.body_category li a.active {
    background-color: #f3a977;
    color:var(--text-primary-color);
}

.body_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(66, 66, 66);
}


/*FORM VALIDATE*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 30px;
    color: var(--text-primary-color);
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 4px;
    position: relative;
    border: none;
}

.form-control input, .form-control select {
    width: 400px;
    height: 35px;
    outline: none;
    border: 1px solid var(--text-primary-color);
    border-radius: 10px;
    padding: 0 10px;
    color: var(--text-primary-color);
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 16px;
}

.form-control input.error {
    border: 1px solid var(--error-color)
}

.form-control input.success {
    border: 1px solid var(--success-color)
}

.form-control span.error {
    color: var(--error-color);
}

.form-control span{
    color: var(--success-color);
    font-size: 14px;
}

.btn-add {
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    line-height: 40px;
    cursor: pointer;
    background-color: var(--text-primary-color);
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    margin: 20px auto;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #009786;
}


.btn_search {
    outline: none;
    border: none;
    background: var(--text-primary-color);
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.search-box {
    display: flex;
    align-items: center;
    margin-bottom:20px;
}

.search-box input {
    margin-right: 5px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    padding: 3px;
}

.display_customer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}
